:root {
  --page-bg: #1f1f1f;
  --hr-color: rgba(255, 255, 255, 0.116);

  --heading-color: #dadada;
  --text-color: var(--heading-color);

  --card-bg: #2a2a2a;
  --card-border: 1px solid rgba(0, 0, 0, 0.712);
  --card-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.06), inset 0 -1px 2px 0 #a3a3a33d;
  --card-shadow-hover: 0 6px 10px 0 rgba(0, 0, 0, 0.295),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.06), inset 0 -1px 2px 0 #a3a3a33d;

  --code-text-color: #b4b4b4;
  --code-background: #202020;
  --code-border: 1px solid rgba(0, 0, 0, 0.219);

  --bubble-hover-scale: 1.4;
  --bubble-bg: rgb(39, 39, 39);
  --bubble-border: var(--card-border);
  --bubble-hover-bg: rgb(41, 41, 41);
  --bubble-hover-curve: cubic-bezier(0.13, 1.38, 0.59, 1.01);
  --bubble-hover-shadow: 0 7px 15px 2px rgba(0, 0, 0, 0.116),
    inset 0 0 1px 1px #444444;

  --bubble-twitter: var(--heading-color);
  --bubble-github: var(--heading-color);
  --bubble-instagram: var(--heading-color);
  --bubble-email: var(--heading-color);

  --footer-link-color: #797979;
  --footer-link-color-hover: var(--text-color);
}

@media (max-width: 450px) {
  :root {
    --heading-color: #e6e6e6;
    --code-text-color: #cccccc;
    
    --card-bg: #2c2c2c;

    --bubble-bg: rgb(44, 44, 44);
    --bubble-hover-bg: rgb(46, 46, 46);
    --bubble-hover-shadow: 0 9px 15px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px 1px #444444;

    --footer-link-color: #9b9b9b;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    // This won't actually change the scale, but will
    // still apply to the shadow and border.
    --bubble-hover-curve: cubic-bezier(0.11, 0.97, 0.63, 1);
  }
}
