@import "reset";

$primary-font: "Overpass Mono", monospace;
$secondary-font: "Assistant", sans-serif;

:root {
  --page-width: 880px;
  --gap: 30px;
  --card-border-radius: 20px;
  --popper-width: 170px;
  --popper-height: 100px;
  --popper-border-radius: 20px;
  --popper-hover-border-radius: 25px;
  --footer-height: 40px;
  --socials-margin: 0.5cm;
}

body {
  background-color: var(--page-bg);
  font-family: $secondary-font;
  color: var(--text-color);
}

.no-select {
  user-select: none;
}

a {
  text-decoration: none;
}

.content-wrapper {
  max-width: var(--page-width);
  margin: 0 auto;
}

.content {
  min-height: 100vh;
  margin-left: var(--gap);
  margin-right: var(--gap);
  display: grid;
  grid-template-columns: auto;
  // Takes as much room as possible for the links, shrinks card and footer
  // to the minimum size they can be to still fit within the height.
  // Because the page height is 100vh, this will push the footer right to the
  // bottom, regardless of how much content there is or how large the screen is.
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "card"
    "links"
    "footer";
  gap: var(--gap);
}

#about {
  position: relative;
  display: grid;
  grid-template-rows: 1cm 1.2cm auto;
  grid-template-columns: auto;
  grid-template-areas:
    "name"
    "contact"
    "info";
  align-items: center;

  cursor: grab;
  margin: 30px auto;
  text-align: center;
  // Standard business card dimensions, as defined by the ISO
  width: 8.559cm;
  height: 5.397cm;

  background-color: var(--card-bg);
  box-shadow: var(--card-shadow);
  border: var(--card-border);
  border-radius: var(--card-border-radius);

  transition: all 0.1s ease-out;
  will-change: transform, box-shadow;

  &:hover {
    transform: translateY(-10px);
    box-shadow: var(--card-shadow-hover);
  }

  a[href] {
    color: inherit;
    text-decoration: underline;
  }

  a[href]:hover {
    filter: brightness(1.1);
  }

  .name {
    align-self: flex-end;
  }

  .name h1 {
    bottom: 0;
    color: var(--heading-color);
    font-family: $primary-font;
    font-size: 1.5em;
  }

  .contact em {
    font-family: $primary-font;
    color: var(--code-text-color);

    background-color: var(--code-background);
    border: var(--code-border);
    border-radius: 4px;

    padding: 4px;
  }

  .info {
    align-self: flex-start;
  }

  .info hr {
    border-style: solid;
    border-color: var(--hr-color);
    border-width: 0.4px;
    width: 70%;
  }

  .info p {
    margin: 15px 10px 10px 10px;
    line-height: 170%;
  }
}

#links h2 {
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  text-align: center;
  // Width is set to 0 so it can be adjusted at smaller screen sizes and
  // have a nice transition (see @media queries down the bottom for details)
  width: 0;
  transition: width 0.2s ease;
  will-change: width;
  color: var(--heading-color);
  font-family: "Overpass Mono", monospace;
  font-size: 1.5em;
}

.poppers {
  display: grid;
  column-gap: var(--gap);
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(var(--popper-width), 1fr));
  grid-auto-rows: 4cm;
}

.poppers > a {
  // On mobile, tapping on the popper highlights it. It already provides
  // feedback by growing/changing shape, so it's safe to disable this.
  // Annoyingly, this isn't a standard, and (as at time of writing) this
  // property is not supported by autoprefixer.
  -webkit-tap-highlight-color: transparent;
}

.popper {
  width: var(--popper-width);
  height: var(--popper-height);
  line-height: 100px;
  text-align: center;
  font-size: 3em;
  background-color: var(--popper-bg);
  border: var(--popper-border);
  border-width: 0px;
  border-radius: 20px;

  transition: all 0.2s var(--popper-hover-curve);
  transition-timing-function: var(--popper-hover-curve);

  // Scale causes z-index to break in weird ways, so specify the position as relative
  // and explicitly set the z-index on both normal and :hover
  position: relative;
  z-index: 0;

  &:hover {
    z-index: 20;
    transform: scale(var(--popper-hover-scale));
    background-color: var(--popper-hover-bg);
    box-shadow: var(--popper-hover-shadow);
    border: var(--popper-border);
    border-radius: var(--popper-hover-border-radius);
  }

  .twitter {
    color: var(--popper-twitter);
  }

  .github {
    color: var(--popper-github);
  }

  .instagram {
    color: var(--popper-instagram);
  }

  .email {
    color: var(--popper-email);
  }
}

footer {
  align-self: flex-end;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". source theme";

  width: 100%;
  height: var(--footer-height);

  line-height: var(--footer-height);
  text-align: center;
  font-size: 0.8em;
  font-family: $primary-font;
  color: var(--footer-text-color);

  a {
    color: var(--footer-text-color-link);
  }

  a:hover {
    color: var(--footer-text-color-link-hover);
  }

  &.has-js > #source {
    grid-area: source;
  }

  #theme-switcher {
    background: none;
    border: none;
    grid-area: theme;
    cursor: pointer;
    justify-self: end;

    // Don't display this element if there's no JS.
    // There'd be no point, it wouldn't do anything.
    &.awaiting-js {
      display: none;
    }
  }
}

// Customisations for phones
@media (max-width: 450px) {
  // Shrink the poppers when there's not enough room for two
  :root {
    --popper-width: 130px;
  }

  // The header is always centered, but it has a width of 0, so it's always
  // on the left. When the width increases, it transitions to the center.
  #links h2 {
    width: calc(100% - 2 * var(--socials-margin));
  }
}

@media (max-width: 640px) {
  // The footer still looks a little funky even beyond phone widths, so keep
  // it symmetrical until the screen is big enough.
  footer.has-js {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "source theme";

    #theme-switcher {
      justify-self: inherit;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  // Don't change the corner radius, no matter what the theme is
  :root {
    --popper-hover-border-radius: var(--popper-border-radius);
  }

  // Don't change the size
  .popper {
    transform: none !important;
  }

  #about:hover {
    transform: none !important;
    box-shadow: var(--card-shadow);
  }
}
